h1 {
	color:#fff;
	text-shadow: 0px 2px 0px rgba(0,0,0,0.25);
}

#nowform {
	border:0;
	background-color:rgba(255,255,255,0.9)
}

#moreinfo{
	width: 700px;
	margin: 0 auto;
	font-size: 19px;
	margin-top:30px;
}
