{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel='stylesheet' href='{% static "css/simpleformpage.css" %}' type='text/css'>
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
<div id="pagedescription">
	<h1>Forgot your password?</h1>
</div>
<div id="main">
	<p>Enter your email address to get a password reset link for your account.</p>
	<p> PLEASE NOTE: the Home Edition does not require a password or login. </p>
	<form action="/forgotpassword/" method=POST>
		{% csrf_token %}
		{{ form }}
		<input type="submit" />
	</form>
	
	<p>If your account is not associated with an email address, please send us an email <a href="mailto:team@mathbreakers.com">team@mathbreakers.com</a> and we'll help you out.</p>
</div>
{% endblock %}
