{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel='stylesheet' href='{% static "css/simpleformpage.css" %}' type='text/css'>
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
<div id="pagedescription">
	<h1>Reset your password</h1>
</div>
<div id="main">
	<p>Enter a new password for your username <strong>{{username}}</strong></p>
	<form action="/passwordreset/{{code}}/" method=POST>
		{% csrf_token %}
		{{ form }}
		<input type="submit" />
	</form>
</div>
{% endblock %}