{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel='stylesheet' href='{% static "css/presskit.css" %}' type='text/css'>
{% endblock %}

{% block content %}
<div id="pagedescription">
	<h1>Press Kit</h1>
</div>
<div class="leftalign" id="main">
	<h1>What is Mathbreakers?</h1>
	<p>
		Mathbreakers is a revolutionary approach to grade-school mathematics. Instead of worksheets, students explore a rich 3-D world full of machines and monsters.	
	</p><br>
	<p>At first glance, it might look like Minecraft, Halo or any other 3-D game -- but in this world, everything is made of numbers. You can pick them up, chop them in half, and throw them around. The basic rule of Mathbreakers is that when two numbers touch, they add together and combine. Based on this simple mechanic, there are a host of challenges to overcome as you explore.
	</p>
<div class="gifcontainer">
	<img src="http://mathbreakers.com/static/img/castlescreen.png" />
	<img src="http://mathbreakers.com/static/img/numbersense.png" />
	<img src="http://mathbreakers.com/static/img/castle.png" />
</div>
<div style="clear:both;"></div>
	<h1>What does it teach?</h1>
	<p>Integers, Fractions, Operations and Negatives are Mathbreakers' bread and butter. It's most suitable for 2nd-5th graders, but kids outside that age range (and often adults!) find themselves enthralled with a world where you can play with numbers. In Mathbreakers, we teach these mechanics by presenting the player with puzzles, monsters, and gadgets with which to manipulate the numbers.
	</p><br>
	<p>The game starts off relatively easy, with enemies and walls the likes of "5" or "18", numbers easily made by throwing together a few 2s and 3s. Since adding together to get "0" will destroy any number, you can pass these challenges just by matching the negatives with the positives. Interestingly, this also teaches about factors indirectly, since you can use any factor of N to destroy it with multiple actions. For example, you can destroy a 20 by using a "5" four times, or by using two "10"s.
	</p><br>
	<p>It picks up speed in later levels with more complicated machines. One of the most ubiquitous machines in Mathbreakers is the Number Hoop, a magical doorway that transforms any number that passes through it, usually with multiplication. If you pass through a x2 hoop with a 5, it would instantly become a 10. Number hoops are fully reversible -- if you go through it from the other side, it's a /2 hoop, and you can take an 8 through to make a 4. With only a x2 hoop and some 4s, there are some pretty challenging obstacles to overcome; could you make an 11 with just these objects?
	</p>
	<h1>Mathbreakers in the classroom</h1>
	<p>Mathbreakers was built specifically with 2nd and 3rd grade classrooms in mind (although it could be used anywhere for practice or fun). Many students find themselves in front of a computer for math practice, but usually it's animated worksheets or testing. Watch your students' eyes light up when you tell them their math practice computer time is now a 3-D game full of magic and adventure, instead of the droll drills they're accustomed to!
	</p><br>
	<p>With teachers in mind, we created a Lesson Guide for each of our level packs, including Addition, Operations, and Fractions, to get started in the classroom in a matter of minutes. Mathbreakers contains all the instructions and guidance needed for students, so the lesson guides are to help the teacher facilitate the process of students exploring the Mathbreakers world. We also created a dashboard where teachers can assign lessons and track progress; check out our<a href="http://mathbreakers.com/sampledashboard">sample dashboard</a>.
	<h1>Mathbreakers at home</h1>
	<p>We all grew up playing great games like Halo, Second Life, and MineCraft -- so we set out to create something that felt just as good. Mathbreakers is a gripping first person experience, in a bizzare world filled with toys and puzzles. This was not meant to be an addition to homework; this is a full video game, that just happens to have a lot of numbers in it.</p><br>
	<p>Feedback so far has been very positive: Kids playing at home are raving about Mathbreakers! We get requests all the time for more content, multiplayer and a level editor. (Yes, they're on the road map.) Once during a test session, a young boy didn't want to leave with his parents, and was prepared to let them leave without him so he could continue playing. Susan Prasher approached us to say that her six year old had been trying to learn fractions for weeks, but he got them right away in our game. We've been told "This is the best homework that we've ever had" by a seven year old.</p>
	<h1>About the team</h1>
	<p>Vivian, Charlie and Morgan have been working on Mathbreakers for over a year, and bring a wide variety of tech skills and game design savvy to the project.</p>
	<p>Jo Boaler is a Stanford Graduate School of Education professor and Ph. D. She teaches how to teach mathematics and holds several Massive Open Online Courses in mathematics.</p>
	<p>Federico Chivalo is the Math Specialist at Synapse School in Menlo Park, and helps design the curriculum and puzzles used in Mathbreakers.</p>
{% endblock %}

