{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel='stylesheet' href='{% static "css/boringpage.css" %}' type='text/css'>
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
      
<div class="contentBox">
<div class="contentBoxInner legalcontent">
						<h2 style="font-weight: bold;text-align:center;">Privacy Policy</h2>
<br>
						<p>The Mathbreakers websites and games are owned and operated by <a href="http://www.imaginarynumber.co/" target="_blank">Imaginary Number, Inc.</a> (d/b/a Imaginary Number Co.) located in San Francisco, California. This Privacy Policy covers use of information collected by Imaginary Number Co. We are committed to providing a fun and safe environment for kids and grown-ups of all ages and ensuring that our our information collection practices comply with the United States Children's Online Privacy Protection Act (<a href="http://www.coppa.org/" target="_blank">COPPA</a>).</p>
<br>
						<p>Please read the following to learn more about our Privacy Policy. By visiting or using our websites, games, or services in any manner, you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you hereby consent that we will collect, use, and share your information in the following ways.</p>
<br>
						<p>If you are not of legal age to form a binding contract (under 18 in most jurisdictions), you may only use the Services and disclose information to us with your parent's or legal guardian's express consent. Please review this Privacy Policy with your parent or legal guardian make sure you understand it.</p>

<br>

						<h3 style="font-weight: bold;text-align:center;">What Does This Privacy Policy Cover?</h3>
						
<br>
						
						<p>The following disclosure describes how information is collected and treated when you (the "user"), access or use our services. We use the same definitions for <em>"personally identifiable information"</em> and <em>"non-personally identifiable information"</em> as the U.S. Federal Trade Commission. You can learn more about the types of information from the FTC's <a href="https://www.ftc.gov/tips-advice/business-center/guidance/childrens-online-privacy-protection-rule-six-step-compliance" target="_blank">Children’s Online Privacy Protection Rule</a>.</p>

<br>
						
						<p>We may use third-party services, such as <a href="https://mixpanel.com" target="_blank">Mixpanel</a> or <a href="http://www.google.com/analytics/" target="_blank">Google Analytics</a> for collecting, storing, and managing our user data. This Privacy Policy does not apply to the practices of other companies or services that we do not own or control, or to individuals that we do not employ or manage. However, we do not disclose any personally identifiable information that we may collect to third-parties.</p>
						
<br>
						<h3 style="font-weight: bold;text-align:center;">How We Collect And Use Information</h3>
						
<br>
						
						<h4 style="font-weight: bold;text-align:center;">Non-Personally Identifiable Information</h4>
						
<br>

						<p>We passively collect non-personally identifiable data when you or your children or students download and play with our games. The type of non-personally identifiable data collected may include the type of operating system used, hardware specifications (such as CPU speed), and other computer information. As people play with our games, we record their responses in a variety of situations so that we can help parents, teachers, and the players themselves understand their progress. For instance, we may track game-play data such as the player avatar's position points as it moves through the game. Our game analytics system automatically assigns a unique ID for each user/player but does <em>not</em> collect personally identifying information.</p>

<br>
																							
						<p>Collecting computer information and game-play data allows us to improve the quality of the game and deliver a superior learning experience for you and your children or students. For these reasons, we may also share non-personally identifiable information with researchers, but never in a form that would make it possible to identify particular children.</p>
<br>

						<h4 style="font-weight: bold;text-align:center;">Personally Identifiable Information</h4>
						
<br>
						<p>We will only collect personal information that is reasonably necessary to participate in our services and activities and we will honor any requests to delete your personal information. We will not sell, rent, give away, or otherwise distribute any personal information we collect from you in a way that's inconsistent with this Privacy Policy unless (1) we have your permission to do so or (2) it is required by law.</p>

<br>

						<h4 style="font-weight: bold;text-align:center;">Email Collection Policy</h4>

<br>
										
						<p>If you have provided us with a means of contacting you, we may use such means to communicate with you. For example, we may collect email addresses when you sign up for our newsletters and/or when you download our game.</p>
<br>						
						<p>For some of our game activities (such as the sharing of rewards unlocked during gameplay), we may ask users/players to provide a friend's email address. In these cases we send a single message to these email addresses for the sole purpose of responding directly on a one-time basis to complete the activity (such as extending an invitation for friends to join gameplay). In these situations, we do not collect or store these email addresses; they are deleted as soon as the one-time message is sent.</p>
																	
<br>

						<h4 style="font-weight: bold;text-align:center;">Individual User Accounts</h4>

<br>

						<p>You may sign up for an account to create a tailored Mathbreakers experience and track your learning progress. We do not ask you to provide personally identifiable information as part of your user profile, nor do we use your username or user account to communicate with you. Your username, profile, and progress are private and are not visible to anyone else.</p>

<br>

						<h4 style="font-weight: bold;text-align:center;">Teacher and Student User Accounts</h4>

<br>
						<p>Educators may upgrade individual user accounts to teacher accounts, which enables teachers to set up classrooms and user profiles/accounts for their students. Student profiles/accounts within the classrooms are a tool for teachers to track and manage their students' progress. We do not ask for the students' personally identifiable information, nor do we use students' usernames or accounts to communicate with them. Students' usernames, profiles, and progresses are private and are not visible to anyone else.</p>

<br>
						<p>If you are a teacher or other school user, we may also collect your IP addresses for the purpose of setting up your classroom. The classroom functionality allows teachers to easily set up a "lobby" (a classroom session) for their students to join. Our system automatically detects when teachers and student players are part of the same classroom based on shared IP addresses. IP addresses collected in this manner are used for identifying a group of users, not any individual user in a way that would be considered a persistent identifier under the Federal Trade Commission's definitions.</p>

<br>			
						<p>By creating a teacher account and using the classroom functionality, you agree to let us collect and use your IP addresses for this purpose. However, we will never share or disclose your IP addresses in a way that would make it possible to identify particular student players.</p>

<br>																																																								

						<h4 style="font-weight: bold;text-align:center;">Website Visits, Installations, and Conversion Tracking</h4>
						
<br>
						<p>Additionally, we use <a href="https://mixpanel.com" target="_blank">Mixpanel</a> and <a href="http://www.google.com/analytics/" target="_blank">Google Analytics</a> to track visits to our websites, including <a href="http://www.mathbreakers.com/" target="_blank">www.mathbreakers.com</a> and <a href="http://www.imaginarynumber.co/" target="_blank">www.imaginarynumber.co</a>. We also work with partners to learn how people find our websites and products/services so that we could make them available to more parents and teachers. This means that when you visit our website or download and install our games, we may learn that you were referred through a review site, a web advertisement, or some other source.</p>
<br>						
						<p>Sometimes we work with third-parties like Facebook or Twitter to collect user data through our websites for the purposes of tracking conversions and finding more users like you -- people who love fun educational math games! Your individual details will not be extracted or shared, as the process for finding new users is based on group characteristics, not individual characteristics. Nevertheless, you can choose to not have your browsing activity tracked at all by opting out of interest-based advertising. To do so, you can enable the Do Not Track functionality in your web browser, or learn more about <a href="https://support.twitter.com/articles/20170405" target="_blank">opting out of Twitter ads</a> or <a href="https://www.facebook.com/help/568137493302217" target="_blank">opting out of Facebook ads</a>.</p>
											
<br>
						<h4 style="font-weight: bold;text-align:center;">Payment Information</h4>			
<br>
						
						<p>We use <a href="https://stripe.com/" target="_blank">Stripe</a>, a secure third-party payment system for processing your purchases on our website. This means that we do not and cannot view or store your credit card or other payment information.</p>
						
<br>	

						<h3 style="font-weight: bold;text-align:center;">Child Users Under Age 13</h3>
<br>
						<p>We do not ask child users (under the age of 13) to provide personally identifiable information. Users under 13 are required to provide a parent's or guardian's email address when they sign up for newsletters, download the game, or use other services where the user's contact information is needed. Otherwise, users under 13 may only download and play the game as student user, with permission from the teachers and administrators.</p>
<br>
						<p>If you are a user under 13, please do not register for any of our services using your own email address or contact information or send any personal information about yourself to us.</p>
<br>
						<p>If you believe that a user under 13 may have provided us personal information in violation of this Privacy Policy, please contact us at <a href="mailto:team@mathbreakers.com?subject=privacy%20policy" target="_blank">team@mathbreakers.com.</a></p>
<br>
						<p>For more information about children's online safety, we recommend checking out the these web sites for guidance:</p>
<br>
						<p><a href="http://www.cyberangels.org/" target="_blank">CyberAngels</a></p>
<br>
						<p><a href="http://www.business.ftc.gov/documents/0493-Complying-with-COPPA-Frequently-Asked-Questions" target="_blank">FTC COPPA FAQs</a></p>
<br>
						<p><a href="http://www.consumer.ftc.gov/articles/0012-kids-and-socializing-online" target="_blank">FTC Kids and Socializing Online</a></p>
<br>
						<p><a href="http://www.getnetwise.org/" target="_blank">GetNetWise</a></p>
<br>
						<p><a href="http://kids.usa.gov/online-safety/index.shtml" target="_blank">Kids.gov</a></p>
<br>
						<p><a href="http://www.netsmartz.org/Parents" target="_blank">Netsmartz</a></p>										
																								
<br>																																																																																			
																																																						
						<h3 style="font-weight: bold;text-align:center;">Changes To Privacy Policy</h3>				
						
<br>
						<p>The privacy policy set out here is effective as of May 3, 2014, and applies to all information previously obtained by Imaginary Number Co. We may change this privacy policy from time to time to reflect new technologies, industry practices, regulatory requirements, or for other purposes. Any changes to the privacy policy will be posted to this page with the new effective date. As required by law, we will not use any personally identifiable information in ways that are materially different (i.e. "substantially different") from the ones described in this Privacy Policy without first providing notice to our users. We will reach out to our users in every way we can, such as by email, website announcements, push notifications, or announcements from within our products.</p>

<br>
						<h3 style="font-weight: bold;text-align:center;">Contact Information</h3>
<br>
						<p>Please send us an <a href="mailto:team@mathbreakers.com?subject=privacy%20policy" target="_blank">email</a> if you have questions or comments about our Privacy Policy.</p>
<br>						<p>Here's our physical presence for sending inquiries through snail mail, but email is strongly preferred! (Really, we'll be very appreciative if you could contact us by email.)</p>
<br>
						<p>
						</p><h4 style="font-weight: bold;text-align:center;">
						Imaginary Number Co.<br>
						205 Beacon St.<br>
						San Francisco, CA 94131<br>
						1-650-530-0556<br>
						</h4>
						<p></p>
						
					</div>
				</div>

{% endblock %}
