{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel='stylesheet' href='{% static "css/boringpage.css" %}' type='text/css'>
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
<div class="contentBox">
<div class="contentBoxInner legalcontent">
						<h2 style="font-weight: bold;text-align:center;">Terms of Service</h2>
<br>

						<p>Hello! Welcome to the Mathbreakers website. This site and game are owned and operated by <a href="http://www.imaginarynumber.co/" target="_blank">Imaginary Number Inc.</a> (d/b/a Imaginary Number Co.) We're a startup located in Silicon Valley, California. Our mission is to build great games and make learning fun for everyone! This means there are certain rules and guidelines when you use our website and play our games. Please bear with us while we explain the rules so you can help us create a fun and safe gaming environment.</p>
<br>

						<p>The following Terms of Service is an agreement between you and Imaginary Number Co.:</p>


<br>

						<h3 style="font-weight: bold;text-align:center;">What "Services" Are Covered in the TOS?</h3>
<br>

						<p>Imaginary Number Co. owns and distributes the Mathbreakers game. We also host lots of other related activities, such as camps, workshops, contests, polls, sweepstakes, and other features distributed or advertised through this website and or other third-party sites. Sometimes we also give out special rewards, such as special game items. All of the content that we provide to our users - including the Mathbreakers game, related activities and features, lesson guides and instructional support matieral, and any supplemental software - are considered "services."</p>

<br>
						<p>So, by downloading or playing with software distributed by Imaginary Number Co., including any and all versions of the Mathbreakers game, by using our website, or by participating in these activities, you are agreeing with the following terms of service. You also acknowledge that these terms of use are supported by reasonable and valuable consideration, the receipt and adequacy of which are hereby acknowledged. These terms of service incorporate our End User License Agreement (EULA) below as well as our <a href="https://mathbreakers.com/privacy/" target="_blank">Privacy Policy</a>.</p>

<br>
						<p><em>If you are a parent, guardian, or teacher and you provide your consent to your child's or student's use of our website, games, or other software and services, you agree to be bound by these terms of service.</em></p>

<br>

						<h3 style="font-weight: bold;text-align:center;">Feedback and Ownership</h3>
<br>

						<p>We're constantly trying to improve your experience with Mathbreakers and we welcome your feedback and input! We may ask for your feedback and ideas during live play-testing, online play-testing, or through our community forum or other forms of communication. We may also collect game-play data from you in order to improve the game (see our <a href="https://mathbreakers.com/privacy/" target="_blank">Privacy Policy</a>).</p>
<br>
						<p>You acknowledge that any feedback or ideas submitted to us via the community forums or other forms of communication, or generated during any play-testing or other activities related to Mathbreakers, either online or offline, are the sole property of Imaginary Number Co., including but not limited to feedback on gameplay, mechanics, marketing, art style, controls, menus. You acknowledge that any non-personally identifiable data collected from your game-play activity also belong exclusively to Imaginary Number Co.</p>

<br>
						<p>You understand that you will not receive monetary or any other compensation for submitting your ideas, feedback, or other data towards the improvement of Mathbreakers, either now or in the future. (Other rules may apply if ideas and feedback are being submitted for particular competitions and activities.)</p>

<br>

						<h3 style="font-weight: bold;text-align:center;">Event Cancellations and Changes</h3>
<br>
<p>Imaginary Number Co. may host events (including play-tests, workshops, camps, and other programs) from time to time. We reserve the right to vary our programs and to reschedule or cancel an event if it is under-subscribed or for any other reason. We aim to give participants at least 1 week's notice if an event is rescheduled or cancelled, and give a full refund for cancelled events.</p>
<br>
<br>

						<h2 style="font-weight: bold;text-align:center;">End User License Agreement</h2>
						
<br>

						<p>If you buy, download, use or play any version of Mathbreakers, you are agreeing to follow the rules of these end user licence terms ("EULA”). If you don‘t want to or can‘t agree to these rules, then you must not buy, download, use or play Mathbreakers.</p>

<br>
						
						<h3 style="font-weight: bold;text-align:center;">What You Can Do</h3>
						
<br>

						<p>When you buy Mathbreakers, we give you permission to install the game on your own personal computer (if you're a home user) or on your school's or students' computers (if you're a school user) and play the game as set out in this EULA.</p>

<br>					
						<p>If you have access to lesson guides and supplemental teaching materials that we've released in relation to Mathbreakers, you are free to share these resources as long as you don't make any commerial use of these materials.</p>
						
<br>	
						<p>You can take screenshots and videos of the Mathbreakers game and share them as long as you don't make any commercial use of these videos or images or do things that are unfair or adversely affect our rights.</p>

<br>	

						<h3 style="font-weight: bold;text-align:center;">What You Can't Do</h3>
<br>

						<p>Do not reverse engineer, decompile or disassemble the Mathbreakers game, any portion of it, or any related software. Do not resell or re-distribute any version of the Mathbreakers game or give copies of it to anyone else unless we have given you express consent. Do not rent out or make commercial use of Mathbreakers or let other people get access to the game and its parts in a way that is unfair or unreasonable.</p>
<br>
				
						<p>Also, you may not resell any gift codes or license keys obtained from us or authorized resellers, but you may give them as gifts as long as each code or key is used only once.</p>

<br>
						
						<h3 style="font-weight: bold;text-align:center;">Game Ownership</h3>
						
<br>

						<p>Although we give you permission to play Mathbreakers, we are still the owners of the game itself, our brands, and any content contained in or related to the game. Therefore, when you pay for the Mathbreakers game and its related tools and materials, you are buying a permission to play and use Mathbreakers in accordance with this EULA - you are not buying ownership of the content itself. The only permissions you have in connection with the Mathbreakers game are the permissions set out in this EULA.</p>
<br>
						
						<h3 style="font-weight: bold;text-align:center;">Warranty and Disclaimer</h3>
<br>

						<p>Mathbreakers is an ongoing project, which means we're constantly making improvements and updates. Any version of the game and related software are provided "as is" without warranty of any kind. We do not warrant that any part of the game or related software will be error-free, that access thereto will be uninterrupted, or that defects will be corrected. We do not warrant or make any representations regarding the use or the results of the use of any version of the game or related software. In no event shall Imaginary Number Co. be liable for any damage whatsoever arising out of the use of or inability to use the game or related software, even if we have been advised of the possibility of such damages. We hereby disclaim any warranties on the Mathbreakers game and any of our products and services, express, implied, or statutory, including without limitation any warranty of merchantability, fitness for a particular purpose, or non-infringement.</p>

<br>

						<h3 style="font-weight: bold;text-align:center;">Governing Law and Jurisdiction</h3>
<br>

						<p>You acknowledge that this agreement shall be governed in accordance with the laws of the State of California. You consent to the exclusive jurisdiction and venue of the federal and state courts located in Santa Clara County, California in any action arising out of or relating to this agreement.</p>

<br>

						<h3 style="font-weight: bold;text-align:center;">Changes To EULA and Terms of Service</h3>
<br>

						<p>We reserve the right to change this EULA and the Terms of Service at any time with or without notice, with immediate and/or retroactive effect. These changes will be effective to the extent that they can legally apply.</p>

<br>
						
						<h3 style="font-weight: bold;text-align:center;">Contact Us</h3>
<br>

						<p>Got questions and comments? Send us an <a href="mailto:team@mathbreakers.com?subject=TOS" target="_blank">email</a>. You may also find some of your answers here on our <a href="https://mathbreakers.com/privacy/" target="_blank">Privacy Policy</a> page.
						</p>

					</div>
</div>
{% endblock %}
